* text=auto eol=lf

# These files are text and should be normalized
*.kt text
*.java text
*.ktls text
*.properties text
*.xml text
*.yml text
*.yaml text
*.json text
*.md text
*.txt text
*.gradle text
*.gitignore text
*.gitattributes text

# These files are binary and should be left alone
# (add any binary file extensions here)