name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  get_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Get latest package version
        id: get_latest
        run: |
          VERSIONS_JSON=$(curl -s -H "Authorization: token ${{ secrets.MY_TOKEN }}" -H "Accept: application/vnd.github.v3+json" "https://api.github.com/orgs/Grupo-14-INGSIS/packages/maven/IngsisTP.cli/versions")
          LATEST_VERSION=$(echo "$VERSIONS_JSON" | jq -r '.[0].name // ""')
          echo "latest=$LATEST_VERSION" >> $GITHUB_OUTPUT

      - name: Increment version
        id: version
        run: |
          version=${{ steps.get_latest.outputs.latest }}
          if [ -z "$version" ]; then
            version="1.0.0"
          else
            version=$(echo $version | awk -F. -v OFS=. '{$NF++;print}')
          fi
          echo "version=$version" >> $GITHUB_OUTPUT

  ci-cd:
    needs: get_version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Set version and credentials in gradle.properties
        run: |
          echo "version=${{ needs.get_version.outputs.version }}" >> gradle.properties
          echo "gpr.user=${{ secrets.MY_USER }}" >> gradle.properties
          echo "gpr.key=${{ secrets.MY_TOKEN }}" >> gradle.properties

      - name: Run ktlintFormat # no está en myPlugin ni va a estar por la razón que explico en el archivo del pluginy
        run: |
          CHANGES_BEFORE=$(git diff --name-only)
          ./gradlew ktlintFormat --quiet
          CHANGES_AFTER=$(git diff --name-only)
          if [ "$CHANGES_BEFORE" != "$CHANGES_AFTER" ]; then
            echo "Build blocked: ktlintFormat modified files."
            exit 1
          fi

      #elimino tmb el bloque para ktlint Check porque esa acción se enceuntra incluída
      #en myPlugin. Sería redundante dejar ambas

      - name: Verify coverage
        run: |
          ./gradlew jacocoTestCoverageVerification
          if [ $? -ne 0 ]; then
            echo "Build blocked: code coverage below 80%."
            ./gradlew jacocoTestReport
            exit 1
          fi

      #remuevo check porque ya está incluído en el build de abajo. NO así el format

      - name: Build
        run: ./gradlew build --continue > .git/test-output.log

      - name: Publish to GitHub Packages
        if: github.ref == 'refs/heads/main'
        run: ./gradlew publish --no-configuration-cache

